
{{ range (.Paginate .Data.Pages).Pages }}
<div class="blog-post big list-post">
	<div class="post-header">
    {{ if isset .Params "categories" }}
		<p class="categories">
      {{ range .Params.categories }}
        <a href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </p>
    {{end}}

		<h2 class="post-title">
			<a href="{{ .Permalink }}">{{ .Title }}
		</h2>

		<ul class="post-meta">
			<li class="date"><time datetime="{{ .Date.Format "02 January 2006" }}">{{ .Date.Format "02 January 2006" }}</time></li>
			<li class="author">by {{ .Site.Params.name }}</li>
		</ul>
	</div>

	{{ if isset .Params "image" }}
	<div class="post-cover">
		<a href="{{ .Permalink }}">
		  <img src="{{ $.Site.BaseURL }}images/{{ .Params.image }}" alt="big post cover" />
		</a>
	</div>
	{{ end }}

	<div class="post-body">
	  <p>{{ .Summary }}</p>

		<div class="align-center">
			<a href="{{ .Permalink }}" class="btn template-btn-2">{{ .Site.Params.keepReadingStr }}</a>
		</div>
	</div>
</div>
{{ end }}
